  .container {
    max-width: 960px;
    background-color: color-mix(in srgb-linear, rgb(236, 101, 60) 6%, coral 70%);
    color: black;
  }

  .alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }